Serie01/.project
Serie01/.classpath
Serie01/.settings/*
Serie01/bin/*
Serie02/.project
Serie02/.classpath
Serie02/.settings/*
Serie02/bin/*
Serie03/.project
Serie03/.classpath
Serie03/.settings/*
Serie03/bin/*
Serie04/.project
Serie04/.classpath
Serie04/.settings/*
Serie04/bin/*
